<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>semperhhhの博客</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- 只有使用字体图标时才需要加载 Font-Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <style>
        p.title {
            font-size: 30px;
            font-weight: 600;
            color: grey;
        }
    </style>
</head>

<body class="main_index">
    <div class="box">
        {{{navigationBar}}}

        <div class="list-background">
            <div style="height:80px;"></div>
            <div class="container">

                <div class="row">
                    <div class="col corner-window cell">
                        <div style="height:20px;"></div>
                        <p>iOS入门程序员,前端入门程序员</p>
                        <p><img src="https://img.shields.io/badge/language-Swift4.2-yellow.svg">
                            <img src="https://img.shields.io/badge/language-Objective--c-orange.svg">
                        </p>
                        <div style="height:20px;"></div>
                    </div>
                    <div style="width: 20px;"></div>
                    <div class="col corner-window cell">
                        <div style="height:20px;"></div>
                        <p>动漫宅,游戏宅</p>
                        <p>Dota从2009年一直到现在变成云玩家</p>
                        <div style="height:20px;"></div>
                    </div>
                </div>

                <div style="height: 30px"></div>

                <div class="row">
                    <div class="col corner-window cell">
                        <div style="height:20px;"></div>
                        <p>微博</p>
                        <p>心灵鸡汤博主</p>
                        <div style="height:20px;"></div>
                    </div>
                    <div style="width: 20px;"></div>
                    <div class="col corner-window cell">
                        <div style="height:20px;"></div>
                        <p>掘金</p>
                        <div style="height:20px;"></div>
                    </div>
                </div>

                <div style="height: 30px"></div>

                <div><p class="title">个人app</p></div>

                <div style="height: 10px"></div>

                <div class="row">
                    <div class="col corner-window cell">
                        <div style="height:20px;"></div>
                        <p>V2exer</p>
                        <p>开发中,第一版4.2.2被拒...</p>
                        <div style="height:20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>