<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, width=720px, height=1280px"/> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>semperhhhの博客</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../css/bootstrap.css">
        <!-- 首页 -->
        <link rel="stylesheet" href="../css/base.css">
</head>
<body class="main_index">
        <div class="box">
            <!-- {{{navigationBar}}}  -->
            <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <div>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            
            <!-- list -->
            <div>
                <div style="height:80px;"></div>
                <div>
                        {{#lists}}
                        <div class="list">{{title}}</div>
                        <div class="list">{{content}}</div>
                        {{/lists}}
                </div>

            </div>

            
        </div>
    </body>
</html>
