<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="http://39.96.82.100:8181">Navbar</a>
        <div>
            <ul class="nav justify-content-end">
                <li class="nav-item naviBtn">
                    <button class="button button-primary button-box button-longshadow-right" onclick="location='http://39.96.82.100:8181'">
                        <i class="fa fa-home"></i>
                    </button>
                </li>
                <li class="nav-item naviBtn">
                    <button class="button button-highlight button-box button-longshadow-right" onclick="location='http://39.96.82.100:8181/list'">
                        <i class="fa fa-list"></i>
                    </button>
                </li>
                <li class="nav-item naviBtn">
                    <button class="button button-action button-box button-longshadow-right">
                        <i class="fa fa-user"></i>
                </li>
            </ul>
        </div>
    </nav>