<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=720px, height=1280px" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>semperhhh のブログ</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- 首页 -->
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/markdown.css">
    <!-- 只有使用字体图标时才需要加载 Font-Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>

<body class="main_index">
    <div class="box">
        {{{navigationBar}}} 

        <div class="col-md-12">
            <div style="height:80px;"></div>
            <div class="col-md-9 postsBackground center-block">
                <div style="height:60px;"></div>
                {{{POSTS_CONTENT}}}
                <div style="height:100px;"></div>
            </div>
            <div style="height:80px;"></div>
        </div>
</body>

</html>